<!-- ## <font color='Yellow'>Scrapping Indeed.com data</font> -->
# Scrapping Indeed.com data

In [115]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

In [116]:
URL = 'https://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10'
# URL='https://www.indeed.co.in/data-scientist-jobs-in-Bengaluru,-Karnataka'
##conducting a request of the stated URL above:


header = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36", "X-Requested-With": "XMLHttpRequest"}
page = requests.get(URL)#,verify=False)
#specifying a desired format of “page” using the html parser - this allows python to read the various components of the page, rather than treating it as one long string.
soup = BeautifulSoup(page.text, 'html.parser')
#printing soup in a more structured tree format that makes for easier reading
# print(soup.prettify())

In [117]:
def extract_job_title_from_result(soup): 
    jobs = []
    for div in soup.find_all(name='div', attrs={'class':'row'}):
#         print(div)
      for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
#           print(a)
          jobs.append(a['title'])
    return(jobs)
extract_job_title_from_result(soup)

['Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist, Data & Analytics (D&A)',
 'Machine Learning Engineer',
 'Associate Data Scientist',
 'Data Scientist - FT New York, NY - #EBG0120-1',
 'Data Scientist',
 'Data Scientist (BCMA)',
 'Data Scientist',
 'Data Scientist',
 'Machine learning intern and Data Scientist',
 'Data Scientist (NLP Focused)',
 'Data Scientist',
 'Data Scientist',
 'Data Science/ML engineer with specialty in NLP',
 'Sr. Data Analyst']

In [118]:
def extract_company_from_result(soup): 
    companies = []
    for div in soup.find_all(name="div", attrs={"class":"row"}):
#         print(len(div))
        company = div.find_all(name="span", attrs={"class":"company"})
        print(len(div),len(company))
#         print(company)
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
                print(b.text.strip())
        else:
            sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
            for span in sec_try:
              companies.append(span.text.strip())
    return(companies)
 
extract_company_from_result(soup)

14 1
Engel & Völkers Americas, Inc.
15 1
Strategic Financial Solutions
13 1
Ascensia Diabetes Care
15 1
Business & Decision
16 1
Triplebyte
11 1
Direct-to-Consumer and International
12 1
Empire Business Group LLC
11 1
PepsiCo
11 1
CITI
14 1
Digitalogy
11 1
Source Enterprises
12 1
Behold.ai
12 1
Fakespot
11 1
Cornell University
11 1
Kaplan
16 1
Transport Learning
13 1
Noom Inc.

['Engel & Völkers Americas, Inc.',
 'Strategic Financial Solutions',
 'Ascensia Diabetes Care',
 'Business & Decision',
 'Triplebyte',
 'Direct-to-Consumer and International',
 'Empire Business Group LLC',
 'PepsiCo',
 'CITI',
 'Digitalogy',
 'Source Enterprises',
 'Behold.ai',
 'Fakespot',
 'Cornell University',
 'Kaplan',
 'Transport Learning',
 'Noom Inc.']

In [119]:
a=[]
for div in soup.find_all(name='div', attrs={'class':'recJobLoc'}):
#     print(len(div['data-rc-loc']))
    a.append(div['data-rc-loc'])
    
    
print(len(a))
a

17

['New York, NY',
 'New York, NY',
 'Valhalla, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY',
 'Ithaca, NY',
 'New York, NY',
 'New York, NY',
 'New York, NY']

In [120]:
i=0
for div in soup.find_all(name='span', attrs={'class':'location'}):
    print(div.text)
    i=i+1
    
print(i)

New York, NY
New York, NY 10036
New York, NY 10017 (Murray Hill area)
New York, NY
New York, NY
New York, NY
New York, NY
New York, NY 10005 (Financial District area)
Ithaca, NY 14853
New York, NY 10019
10

In [121]:
def extract_location_from_result(soup): 
  locations = []
  spans = soup.findAll('span', attrs={'class':'location'})
  for span in spans:
    locations.append(span.text)
  return(len(locations))
extract_location_from_result(soup)

10

In [122]:
def extract_salary_from_result(soup): 
  salaries = []
  companies=[]
  for div in soup.find_all(name="div", attrs={"class":"row"}):
#         print(div.text)
        company = div.find_all(name="span", attrs={"class":"company"})
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
                print(b.text.strip())
                
           
            for link in div.find_all(name="span", attrs={"class":"salary"}):
                print("""*****""")
                print(link)
                print("""*****""")
                print("data:", link.text.strip())

                if link.text.strip() != '':
                    salaries.append(link.text.strip())
                else:
                    try:
                        div_two = div.find(name="span", attrs={"class":"salary"})
                        div_three = div_two.find("div")
                        salaries.append(div_three.text.strip())
#                         salaries.append("Nothing_found")

                    except:
                        salaries.append("Nothing_found")
        #         print(link)
        else:
            print("None")
              
                
                
  return(salaries)
extract_salary_from_result(soup)

Engel & Völkers Americas, Inc.
Strategic Financial Solutions
Ascensia Diabetes Care
Business & Decision
Triplebyte
*****
<span class="salary no-wrap">
<span class="salaryText">
$125,000 - $190,000 a year</span>
</span>
*****
data: $125,000 - $190,000 a year
Direct-to-Consumer and International
Empire Business Group LLC
PepsiCo
CITI
Digitalogy
*****
<span class="salary no-wrap">
<span class="salaryText">
$50 - $80 an hour</span>
</span>
*****
data: $50 - $80 an hour
Source Enterprises
Behold.ai
Fakespot
Cornell University
Kaplan
Transport Learning
*****
<span class="salary no-wrap">
<span class="salaryText">
$80,000 - $150,000 a year</span>
</span>
*****
data: $80,000 - $150,000 a year
Noom Inc.

['$125,000 - $190,000 a year',
 '$50 - $80 an hour',
 '$80,000 - $150,000 a year']

In [123]:
def extract_salary(soup):
    li=[]
    salaries=[]
    companies=[]
    for div in soup.find_all(name="div", attrs={"class":"row"}):
    #     print(div)
        li.append(div)
    #     print(type(div))
#         print('####$$$$$$$$$####')
#         print(len(div.find_all(name="span", attrs={"class":"salary"})))
        if len(div.find_all(name="span", attrs={"class":"salary"})) ==0:
            salaries.append("Nothing found")
        else:

            for div_two in div.find_all(name="span", attrs={"class":"salary"}):
        #     div_three = div_two.find('div')

        #     print(div_two.find_all(name="span", attrs={"class":"salaryText"}))
#                 print(div_two.text.strip())
#                 print(type(div_two.text.strip()))
                salaries.append(div_two.text.strip())
    #             if type(div_two.text.strip()) == '':
    #                 print("Null")
        #         print(div_two.text.strip())

        #     asd=div_two.find_all(name="span", attrs={"class":"salaryText"})
        #     print(type(div_two))
        #     if str(div_two) == []:
        #         print('Nolee')
#         print('####$$$$$$$$$####')
        company = div.find_all(name="span", attrs={"class":"company"})
#         print(len(div),len(company))
    #         print(company)
        if len(company) > 0:
            for b in company:
                companies.append(b.text.strip())
    #             print(b.text.strip())
    #     link=div.find_all(name="span", attrs={"class":"salary"})
    #     print(link)


    #     if True:
    #         break
    #     link=div.find(name="span", attrs={"class":"salary"})
    #     for span in div.find_all('span', recursive=False):
    #             print('jkds')
    #         print span.attrs['title']
    #     print(link)
    #         print(link)
    #         company = div.find_all(name="span", attrs={"class":"company"})

    # li[3]
    print('{ Company :: Salaries }')
    return (dict(zip(companies,salaries)))

extract_salary(soup)

{ Company :: Salaries }

{'Engel & Völkers Americas, Inc.': 'Nothing found',
 'Strategic Financial Solutions': 'Nothing found',
 'Ascensia Diabetes Care': 'Nothing found',
 'Business & Decision': 'Nothing found',
 'Triplebyte': '$125,000 - $190,000 a year',
 'Direct-to-Consumer and International': 'Nothing found',
 'Empire Business Group LLC': 'Nothing found',
 'PepsiCo': 'Nothing found',
 'CITI': 'Nothing found',
 'Digitalogy': '$50 - $80 an hour',
 'Source Enterprises': 'Nothing found',
 'Behold.ai': 'Nothing found',
 'Fakespot': 'Nothing found',
 'Cornell University': 'Nothing found',
 'Kaplan': 'Nothing found',
 'Transport Learning': '$80,000 - $150,000 a year',
 'Noom Inc.': 'Nothing found'}

In [125]:
# print(salaries)
# print(companies)
# val=dict(zip(companies, salaries))
# val

In [ ]:
# li[3]

In [127]:
def extract_summary_from_result(soup): 
  summaries = []
  spans = soup.findAll('div', attrs={'class': 'summary'})
  for span in spans:
    summaries.append(span.text.strip())
  return(summaries)
extract_summary_from_result(soup)

## Final Table for Job Posting

In [148]:
import pandas as pd
max_results_per_city = 20
city_set = ["New+York","Chicago","San+Francisco", "Austin", "Seattle", "Los+Angeles", "Philadelphia", "Atlanta", "Dallas", "Pittsburgh",\
            "Portland", "Phoenix",\
             "Denver", "Houston", "Miami", "Washington+DC", "Boulder"]


columns = ["city", "job_title", "company_name", "location", "summary", "salary"]
sample_df = pd.DataFrame(columns = columns)

In [149]:
#scraping code:
for city in city_set:
    
    
    for start in range(0, max_results_per_city, 10):
#         print(start)
        page = requests.get("http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=" + str(city) + "&start=" + str(start))
        time.sleep(1)  #ensuring at least 1 second between page grabs
        soup = BeautifulSoup(page.text, "lxml", from_encoding="utf-8")
        for div in soup.find_all(name='div', attrs={'class':'row'}): 
            
        #specifying row num for index of job posting in dataframe
            num = (len(sample_df) + 1) 
            #creating an empty list to hold the data for each posting
            job_post = [] 
            #append city name
            job_post.append(city) 


            ###---------------------###
            #grabbing job title
            for a in div.find_all(name='a', attrs={'data-tn-element':'jobTitle'}):
                job_post.append(a["title"]) 



            ###---------------------###
            #grabbing company name
            company = div.find_all(name="span", attrs={"class":"company"}) 
#             if len(company) == 0:
#                 job_post.append("Company not availble")
                
            if len(company) > 0: 
                for b in company:
                    job_post.append(b.text.strip()) 
            else: 
                sec_try = div.find_all(name="span", attrs={"class":"result-link-source"})
                if len(sec_try) == 0:
                    job_post.append("Company not available")
            
                else:
                    for span in sec_try:
                        job_post.append(span.text.strip()) 
            

            ###---------------------###
            #grabbing location name
            c = div.find_all(name='span', attrs={'class':'location'}) 
            if len(c) == 0:
                job_post.append("Not Available loc")
            else:
                for span in c:
                    job_post.append(span.text) 

            ###---------------------###
            #grabbing summary text
            d = div.findAll('div', attrs={'class': 'summary'})
            for span in d:
                job_post.append(span.text.strip()) 


            ###---------------------###
            #grabbing salary

            try:
                if len(div.find_all(name="span", attrs={"class":"salary"})) ==0:
                    job_post.append("Nothing found")
                    
                else:
                    for div_two in div.find_all(name="span", attrs={"class":"salary"}):
                        job_post.append(div_two.text.strip())
            #             if type(div
            except:
                pass
            
#             print(job_post,len(job_post))

            sample_df.loc[num] = job_post

    #saving sample_df as a local csv file — define your own local path to save contents 
sample_df.to_csv("dataframe.csv")#, encoding= "utf-8")

### Original Table Result

In [146]:
job_post

['Boulder',
 'Data Scientist',
 'Valen Analytics',
 'Not Available loc',
 'Join a high performing and rapidly growing team.We are currently looking to fill the following position in our Denver, CO office:',
 'Nothing found']

In [150]:
sample_df

,city,job_title,company_name,location,summary,salary
1,New+York,Data Scientist,"Engel & Völkers Americas, Inc.",Not Available loc,"Founded in Hamburg, Germany in 1977, Engel & V...",Nothing found
2,New+York,"Data Scientist, Data & Analytics (D&A)",Business & Decision,Not Available loc,\*\*\*Insurance eligibility begins on the firs...,Nothing found
3,New+York,Data Scientist (NLP Focused),Fakespot,Not Available loc,Fakespot is looking for a data scientist to jo...,Nothing found
4,New+York,Data Analyst/Data Scientist,Prospect 33,"New York, NY","Our client, a Tier 1 Investment bank is lookin...",Nothing found
5,New+York,Data Scientist,Optima IT Recruitment,"New York, NY",I was wondering whether you’d be open to looki...,"$120,000 - $180,000 a year"
...,...,...,...,...,...,...
523,Boulder,Machine Learning & Data Science Internship (Su...,Seagate Technology,"Longmont, CO 80503",Seagate has an exciting internship at our Long...,Nothing found
524,Boulder,Institutional Research - Senior Data Scientist...,University of Colorado Boulder,"Boulder, CO 80309 (Colorado University area)",The Office of Data Analytics at the University...,Nothing found
525,Boulder,Data Scientist- Relocation to Saudi Arabia,Saudi Aramco,Not Available loc,Saudi Aramco is seeking an Engineer for the de...,Nothing found
526,Boulder,Senior Manager Data Science,CenturyLink,Not Available loc,The Field Operations & Network Implementation ...,Nothing found
527,Boulder,Data Scientist,Valen Analytics,Not Available loc,Join a high performing and rapidly growing tea...,Nothing found

In [ ]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
# URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

# data=requests.get(URL,verify=False)
# soup = BeautifulSoup(data.text, 'html.parser')

# results = soup.find_all('div', attrs={'data-tn-component': 'organicJob'})
# print(soup)

# for x in results:
#     company = x.find('span', attrs={"itemprop":"name"})
#     print ('company:', company.text.strip())

#     job = x.find('a', attrs={'data-tn-element': "jobTitle"})
#     print ('job:', job.text.strip())

#     salary = x.find('nobr')
#     if salary:
#         print('salary:', salary.text.strip())

#     print('----------')